body {
    background-color: rgb(156, 155, 156);
}

header {
    padding: 1%;
    color: whitesmoke;
    
}

#cityInput {
    margin: 2%;
    width: 80%;
    background-color: rgb(241, 238, 238);
}
.icons {
    width: 10%;
    height: 5%;
    padding:0%
}

#currentWeather {
    color: whitesmoke
}

p {
    font-size: large;
}
#currentWeather {
    font-size: xx-large;
}
.date-title {
    font-size: larger;
    padding: 2%;
}
.cur-uv {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px
}